.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

    justify-items: center;
    align-items: center;
}

.contenedor .xxx {
    background-color: red;
    justify-self: stretch;
    align-self: stretch;
}